* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Maven Pro", sans-serif;
  scroll-behavior: smooth;
  text-align: center;

  /* How to guarantee full view width w/o scrollbar width */
  --full-width: calc(100vw - (100vw - 100%));
  --rainbow-gradient: linear-gradient(
    to right,
    #ff6663,
    #feb144,
    #ffde53,
    #9ee09e,
    #9ec1cf,
    #cc99c9,
    #9ec1cf,
    #9ee09e,
    #ffde53,
    #feb144,
    #ff6663
  );
}

/* Hide all radio buttons */
input[type="radio"] {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 230, 234);
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

label.card.selected {
  opacity: 1;
  border: dotted white 5px;
  background-image: var(--rainbow-gradient);
}

label.card.unselected {
  opacity: 0.5;
}

.parallax {
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30vw;
}

.white-shadow-text {
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

/* Question container that holds prompt + choices */
.question {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}

.prompt {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("media/heart.png");
  background-size: contain;
  background-position: center;
  animation: scroll-right 70s linear infinite;
  height: 150px;
  font-size: 1.5rem;
  font-weight: bold;
}

/* Choices container that holds every label.card */
.choices {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 10vw;
  margin-right: 10vw;
}

/* Each label.card holds text and/or an image */
label.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: none;
}

label.card p {
  padding: 5px;
  width: 100%;
  font-weight: bold;
  transition: transform 0.2s ease-in-out, opacity 0s;
}

label.card img {
  margin: 10px;
  max-width: 90%;
  max-height: 70%;
  width: auto;
  height: auto;
}

/* Odd questions have label.cards with only text & are vertically oriented */
.question:nth-child(odd) > .choices {
  flex-direction: column;
}

.question:nth-child(odd) label.card p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 4rem;
  margin-top: 10px;
}

/* Round the edges of the first and last text cards */
.question:nth-child(odd) label.card:nth-child(1) {
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.question:nth-child(odd) label.card:nth-child(5) {
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

/* Even questions have label.cards with text + images */
.question:nth-child(even) > .choices {
  flex-direction: row;
}

.question:nth-child(even) label.card p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 1em;
  height: 80%;
  width: 100%;
}

.question:nth-child(even) label.card {
  width: 20vw;
  height: 300px;
  margin: 10px;
  align-items: center;
}

label.card:nth-child(1) {
  background-color: #feb144;
}

label.card:nth-child(2) {
  background-color: #ffde53;
}

label.card:nth-child(3) {
  background-color: #9ee09e;
}

label.card:nth-child(4) {
  background-color: #9ec1cf;
}

label.card:nth-child(5) {
  background-color: #cc99c9;
}

#calculate {
  height: 100px;
  width: 200px;
  margin: 20px;
  text-transform: uppercase;
  font-size: 1.3rem;
}

.rainbow-border {
  background-image: var(--rainbow-gradient);
  border: none;
  animation: scroll-right 70s linear infinite;
  transition: all 0.2s ease;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rainbow-border:after {
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  content: attr(alt);
  width: 90%;
  height: 90%;
  background-color: pink;
}

/* Modal code adapted from https://www.w3schools.com/howto/howto_css_modals.asp */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0px;
  width: var(--full-width);
  height: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgb(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 80%;
  height: 40%;
  margin: auto;
  padding: 30px;
  background: whitesmoke;
  font-size: 1.5rem;

  background-position: center;
  background-size: contain;
  
}

.modal-content p {
  background: pink;
}

.close {
  position: absolute;
  top: 5vh;
  right: 5vw;
  color: gray;
  font-size: 1rem;
  height: 1rem;
  font-weight: bold;
}

.close:hover {
  cursor: pointer;
}

@keyframes scroll-right {
  100% {
    background-position: -3000px 0px;
  }
}

@media (hover: hover) and (pointer: fine) {
  label.card:hover,
  #calculate:hover {
    transform: scale(1.1);
    background-image: var(--rainbow-gradient);
    animation: scroll-right 30s linear infinite;
    cursor: pointer;
  }
}

/* MOBILE VERSION */
@media only screen and (max-width: 800px) {
  .parallax {
    background-size: 80vw;
  }

  .choices {
    margin-left: 2vw;
    margin-right: 2vw;
  }

  .prompt {
    height: 80px;
    font-size: 1.2em;
  }

  .question:nth-child(even) label.card {
    width: 45vw;
    height: 220px;
    margin: 5px;
    align-items: center;
  }

  label.card img {
    max-width: 90%;
    max-height: 60%;
    width: auto;
    height: auto;
}

  .question:nth-child(even) label.card p {
    display: flex;
    padding: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    height: 40%;
    width: 100%;
  }
}
