* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Maven Pro", sans-serif;
  scroll-behavior: smooth;

  /* How to guarantee full view width w/o scrollbar width */
  --full-width: calc(100vw - (100vw - 100%));
}

h1 {
  text-align: center;
  margin-top: 30px;
}

/* Each individual question */
.question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  margin-left: 15vw;
  margin-right: 15vw;
}

.prompt {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  border-radius: 1em;
  height: 100px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

.choices {
  display: flex;
  justify-content: center;
  flex: 0 1 auto;
  flex-wrap: wrap;
}

label.description {
  display: flex;
  flex-direction: column;
}

label.description span {
  width: 20vw;
  max-width: 200px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + img {
  width: 20vw;
  max-width: 200px;
  margin: 1vw;
  border-radius: 1em;
}

/* Modal code adapted from https://www.w3schools.com/howto/howto_css_modals.asp */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0px;
  width: var(--full-width);
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgb(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 40%;
  margin: 30% auto; /* 15% from the top and centered */
  padding: 30px;
  background: whitesmoke;
  font-size: 1.5rem;
}

.close {
  color: gray;
  font-size: 1em;
  font-weight: bold;
}

.close:hover {
  cursor: pointer;
}

/* MOBILE VERSION */
@media only screen and (max-width: 600px) {
  .question {
    margin-left: 2vw;
    margin-right: 2vw;
  }

  input[type="radio"] + img {
    margin: 1vw;
    width: 30vw;
  }
}